.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.cell {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  padding: 4px;
  border-left: 1px solid var(--border-color);
}
